@charset "utf-8";
/* CSS Document */

body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav.hvrmenu {			position: fixed;
  font-family: 'Trebuchet MS';
  font-size: 35px;
  margin-top: -2%;
}


.menu ul {				position: relative;
  height: 30%;
}

.menu li {				position: relative;
  left: -312%;
  padding: 0.5em 50px 0.5em 100px;
   width: 230%;
   height: 30px;
    overflow: hidden;
    display: block;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    transition: all 300ms ease-in-out;


}

.menu li:hover {		background: #000000;
  color:#FFFFFF;
  transition: 0.3s;
}


ul a:nth-child(1) li {	transition: 0.5s ease 0s;
}
ul a:nth-child(2) li {	transition: 0.9s ease 0s;
}
ul a:nth-child(3) li {	transition: 1.3s ease 0s;
}
ul a:nth-child(4) li {	transition: 1.7s ease 0s;
}
ul a:nth-child(5) li {	transition: 2.1s ease 0s;
}


nav.hvrmenu:hover > ul a li {
  position: relative;
  left: -250%;
}

.content{				position: absolute;
    left: 120px;
    width: 370px;
    height: 60px;
    top: 20px;
}

.content> img {height:50px ;
  width: auto;
  float: right;
  margin-top: -23%;
  margin-right: 2%; }

.main{					font-size: 70%;
  margin-top:-5px;

}
.sub{					font-size: 40%;
    color: #FFFFFF;



}


.menu{					margin-top:13%;
}

.logo img{				
  width:95%;
  height:auto;
  margin-top:-50%;
  margin-left: 35px;
}


.explore {				float:right;
  color:#FFFFFF;
  margin-right:30%;
  margin-top:30%;
  letter-spacing:10px;
  font-size:200%;
  padding-bottom:-200%;
}

 